﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Account Settings Invalid.aspx.cs" Inherits="PBIWebApp.Account_Settings_Invalid" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background-color:white">
   <form id="form1" runat="server">
    <div>
        <img alt="logo" class="auto-style1" src="img/tecmo.png" style="display: block; top:10px; margin: auto; width: 300px;height:auto;text-align:center;position:relative" /></div>
    </form>
    <p style ="text-align:center;font-size:30px">
        Microsoft PowerBi account settings invalid
    </p>
    <p style ="text-align:center">
         Please make sure that your Microsoft PowerBi settings are correct
    </p>
</body>
</html>
