﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Error.aspx.cs" Inherits="PBIWebApp.Error" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 335px;
            height: 303px;
            position: absolute;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <img alt="logo" class="auto-style1" src="img/tecmo.png" style="display: block; top:10px; margin: auto; width: 300px;height:auto;text-align:center;position:relative" /></div>
    </form>
    <p style ="text-align:center;font-size:30px">
        AN ERROR HAS OCCURED
    </p>
    <p style ="text-align:center">
         Please contact the Tecmo Support Team.
    </p>
</body>
</html>
